@font-face {
  font-family: 'FontAwesome';
  src: url('../fonts/fontawesome-webfont.eot?v=4.0.3');
  src: url('../fonts/fontawesome-webfont.eot?#iefix&v=4.0.3') format('embedded-opentype'), url('../fonts/fontawesome-webfont.woff?v=4.0.3') format('woff'), url('../fonts/fontawesome-webfont.ttf?v=4.0.3') format('truetype'), url('../fonts/fontawesome-webfont.svg?v=4.0.3#fontawesomeregular') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face{font-family:'Glyphicons Halflings';src:url(../fonts/glyphicons-halflings-regular.eot);src:url(../fonts/glyphicons-halflings-regular.eot?#iefix) format('embedded-opentype'),url(../fonts/glyphicons-halflings-regular.woff) format('woff'),url(../fonts/glyphicons-halflings-regular.ttf) format('truetype'),url(../fonts/glyphicons-halflings-regular.svg#glyphicons_halflingsregular) format('svg')}.glyphicon{position:relative;top:1px;display:inline-block;font-family:'Glyphicons Halflings';font-style:normal;font-weight:400;line-height:1;-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale}.glyphicon-asterisk:before{content:"\2a"}.glyphicon-plus:before{content:"\2b"}.glyphicon-euro:before{content:"\20ac"}.glyphicon-minus:before{content:"\2212"}.glyphicon-cloud:before{content:"\2601"}.glyphicon-envelope:before{content:"\2709"}.glyphicon-pencil:before{content:"\270f"}.glyphicon-glass:before{content:"\e001"}.glyphicon-music:before{content:"\e002"}.glyphicon-search:before{content:"\e003"}.glyphicon-heart:before{content:"\e005"}.glyphicon-star:before{content:"\e006"}.glyphicon-star-empty:before{content:"\e007"}.glyphicon-user:before{content:"\e008"}.glyphicon-film:before{content:"\e009"}.glyphicon-th-large:before{content:"\e010"}.glyphicon-th:before{content:"\e011"}.glyphicon-th-list:before{content:"\e012"}.glyphicon-ok:before{content:"\e013"}.glyphicon-remove:before{content:"\e014"}.glyphicon-zoom-in:before{content:"\e015"}.glyphicon-zoom-out:before{content:"\e016"}.glyphicon-off:before{content:"\e017"}.glyphicon-signal:before{content:"\e018"}.glyphicon-cog:before{content:"\e019"}.glyphicon-trash:before{content:"\e020"}.glyphicon-home:before{content:"\e021"}.glyphicon-file:before{content:"\e022"}.glyphicon-time:before{content:"\e023"}.glyphicon-road:before{content:"\e024"}.glyphicon-download-alt:before{content:"\e025"}.glyphicon-download:before{content:"\e026"}.glyphicon-upload:before{content:"\e027"}.glyphicon-inbox:before{content:"\e028"}.glyphicon-play-circle:before{content:"\e029"}.glyphicon-repeat:before{content:"\e030"}.glyphicon-refresh:before{content:"\e031"}.glyphicon-list-alt:before{content:"\e032"}.glyphicon-lock:before{content:"\e033"}.glyphicon-flag:before{content:"\e034"}.glyphicon-headphones:before{content:"\e035"}.glyphicon-volume-off:before{content:"\e036"}.glyphicon-volume-down:before{content:"\e037"}.glyphicon-volume-up:before{content:"\e038"}.glyphicon-qrcode:before{content:"\e039"}.glyphicon-barcode:before{content:"\e040"}.glyphicon-tag:before{content:"\e041"}.glyphicon-tags:before{content:"\e042"}.glyphicon-book:before{content:"\e043"}.glyphicon-bookmark:before{content:"\e044"}.glyphicon-print:before{content:"\e045"}.glyphicon-camera:before{content:"\e046"}.glyphicon-font:before{content:"\e047"}.glyphicon-bold:before{content:"\e048"}.glyphicon-italic:before{content:"\e049"}.glyphicon-text-height:before{content:"\e050"}.glyphicon-text-width:before{content:"\e051"}.glyphicon-align-left:before{content:"\e052"}.glyphicon-align-center:before{content:"\e053"}.glyphicon-align-right:before{content:"\e054"}.glyphicon-align-justify:before{content:"\e055"}.glyphicon-list:before{content:"\e056"}.glyphicon-indent-left:before{content:"\e057"}.glyphicon-indent-right:before{content:"\e058"}.glyphicon-facetime-video:before{content:"\e059"}.glyphicon-picture:before{content:"\e060"}.glyphicon-map-marker:before{content:"\e062"}.glyphicon-adjust:before{content:"\e063"}.glyphicon-tint:before{content:"\e064"}.glyphicon-edit:before{content:"\e065"}.glyphicon-share:before{content:"\e066"}.glyphicon-check:before{content:"\e067"}.glyphicon-move:before{content:"\e068"}.glyphicon-step-backward:before{content:"\e069"}.glyphicon-fast-backward:before{content:"\e070"}.glyphicon-backward:before{content:"\e071"}.glyphicon-play:before{content:"\e072"}.glyphicon-pause:before{content:"\e073"}.glyphicon-stop:before{content:"\e074"}.glyphicon-forward:before{content:"\e075"}.glyphicon-fast-forward:before{content:"\e076"}.glyphicon-step-forward:before{content:"\e077"}.glyphicon-eject:before{content:"\e078"}.glyphicon-chevron-left:before{content:"\e079"}.glyphicon-chevron-right:before{content:"\e080"}.glyphicon-plus-sign:before{content:"\e081"}
@font-face {
  font-family: 'Glyphicons Halflings';
  src: url('@{icon-font-path}@{icon-font-name}.eot');
  src: url('@{icon-font-path}@{icon-font-name}.eot?#iefix') format('embedded-opentype'),
       url('@{icon-font-path}@{icon-font-name}.woff') format('woff'),
       url('@{icon-font-path}@{icon-font-name}.ttf') format('truetype'),
       url('@{icon-font-path}@{icon-font-name}.svg#glyphicons-halflingsregular') format('svg');
}

@font-face {

 font-family: 'FontAwesome';
 src: url('../fonts/fontawesome-webfont.eot');
 src: url('../fonts/fontawesome-webfont.eot?#iefix') format('embedded-opentype'),
      url('../fonts/fontawesome-webfont.woff') format('woff'),
      url('../fonts/fontawesome-webfont.ttf') format('truetype'),
      url('../fonts/fontawesome-webfont.svg#fontawesomeregular') format('svg');
 font-weight: normal;
 font-style: normal;
}

/*WORKS!!!!!!!!*/
@font-face {
  font-family: 'Glyphicons Halflings';
  src: url('../fonts/glyphicons-halflings-regular.eot');
  src: url('../fonts/glyphicons-halflings-regular.eot?#iefix') format('embedded- opentype'), url('../fonts/glyphicons-halflings-regular.woff') format('woff'), url('../fonts/glyphicons-halflings-regular.ttf') format('truetype'), url('../fonts/glyphicons-halflings-regular.svg#glyphicons-halflingsregular') format('svg');
}
/*****************************************
Bootstrap responsive pricing tables v.1.0. 
http://www.sitediscount.ru
ArtLabs
2013
*****************************************/


/*********************** GLOBAL STYLES **********************/


* {
-moz-box-sizing: border-box;
-webkit-box-sizing: border-box;
box-sizing: border-box;
}

/**************************** PRICE BOX BODY **************************/
.pricing-table {

text-align:center;
font-weight:400;
border:6px solid #1ABC9C;
margin-bottom:30px;
background:#fff;

-webkit-transition: all 0.2s ease-in-out;
-moz-transition: all 0.2s ease-in-out;
-o-transition: all 0.2s ease-in-out;
-ms-transition: all 0.2s ease-in-out;
transition: all 0.2s ease-in-out;
}

.pricing-table:hover{
-moz-box-shadow: 0 2px 8px 0 rgba(0,0,0,.5);
-webkit-box-shadow: 0 2px 8px 0 rgba(0,0,0,.5);
box-shadow: 0 2px 8px 0 rgba(0,0,0,.5);
}



/******************************** ROUND CORENERS ************************/

.rounded{
	-webkit-border-radius: 7px;
	-moz-border-radius: 7px;
	border-radius: 7px;
}

/******************************** COLORS BODY *************************/
.pricing-table.green {

text-align:center;
font-weight:400;
border:6px solid #2ECC71;
}

.pricing-table.red {

text-align:center;
font-weight:400;
border:6px solid #E74C3C;
}

.pricing-table.orange {

text-align:center;
font-weight:400;
border:6px solid #F39C12;
}

.pricing-table.dark-blue {

text-align:center;
font-weight:400;
border:6px solid #34495E;
}

.pricing-table.blue {

text-align:center;
font-weight:400;
border:6px solid #3498DB;
}

/********************************** BOX CONTENT ************************/
.pricing-table-sign-up {
	border-top:1px solid #BDC3C7;
	padding:10px 20px;
	text-align:center;
	background:#ECF0F1;
}

.pricing-table-features p {
	
	padding:5px 20px;
	text-align:center;
}
.pricing-table-features p:nth-child(2n){
	background:#ECF0F1;
}

.pricing-table-features, .pricing-table-space{
	background:#fff;
}

.pricing-table p{
		padding:5px;
		margin-top:5px;
		font-size:110%;
		font-weight:400;
		background:#fff;
	}
	.pricing-table p strong{
		font-weight:600;
	}
	
	
/********************************* BOX HEADER ********************************/
	.pricing-table .pricing-table-header {
	color:#fff;
	background: #1ABC9C;
	padding:0px;
}

	.pricing-table-header .heading{
	display:inline-block;
	width:100%;
	padding:15px 0px;
	text-transform:uppercase;
	
}

/**************************** COLOR BOX HEDER ***************************/
	
	.pricing-table.orange .heading{
		background: #F39C12;
	}
	
	.pricing-table.green .heading{
		background: #2ECC71;
	}
	
	.pricing-table.red .heading{
	background: #E74C3C;
	}
	
	.pricing-table.dark-blue .heading{
	background: #34495E;
	}
	
	.pricing-table.blue .heading{
	background: #3498DB;
	}


.pricing-table .pricing-table-header .price-value{
	background: #16A085;

}

.pricing-table.red .pricing-table-header .price-value{
	background: #C0392B;

}

.pricing-table.orange .pricing-table-header .price-value{
	background: #D35400;

}
.pricing-table.green .pricing-table-header .price-value{
	background: #27AE60;

}

.pricing-table.dark-blue .pricing-table-header .price-value{
	background: #2C3E50;

}

.pricing-table.blue .pricing-table-header .price-value{
	background: #2980B9;

}

.pricing-table-header .price-value {
	display:inline-block;
	width:100%;
	padding:20px 0px;
	background: #1ABC9C;
}

.pricing-table-header .price-value span{
	font-size:300%;
}
.pricing-table-header .price-value span.mo{
	font-size:200%;
}

/****************************** HEADINGS AND BUTTONS STYLES**********************/
body{
	color:#34495E;
}
h1 {
  font-size: 32px;
  font-weight: 900; 
  text-transform:uppercase;
  }

h2 {
  font-size: 26px;
  font-weight: 700;
  margin-bottom: 2px; }

h3 {
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 4px;
  margin-top: 2px; }

h4 {
  font-size: 18px;
  font-weight: 500;
  margin-top: 4px; }

h5 {
  font-size: 16px;
  font-weight: 500;
  text-transform: uppercase; }

h6 {
  font-size: 13px;
  font-weight: 500;
  text-transform: uppercase; }
  
 
/******************************* ALTERNATIVE BOOTSTRAP FLAT BUTTON STYLES **************************/

	.btn {
	  border: none;
	  background: #34495e;
	  color: white;
	  font-size: 16.5px;
	  text-decoration: none;
	  text-shadow: none;
	  -webkit-box-shadow: none;
	  -moz-box-shadow: none;
	  box-shadow: none;
	  -webkit-transition: 0.25s;
	  -moz-transition: 0.25s;
	  -o-transition: 0.25s;
	  transition: 0.25s;
	  -webkit-backface-visibility: hidden; 
	  
	  }
	  
  .btn:hover, .btn:focus {
    background-color: #4e6d8d;
    color: white;
    -webkit-transition: 0.25s;
    -moz-transition: 0.25s;
    -o-transition: 0.25s;
    transition: 0.25s;
    -webkit-backface-visibility: hidden; 
	}
	
  .btn:active, .btn.active {
    background-color: #2c3e50;
    color: rgba(255, 255, 255, 0.75);
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none; 
	}
	
 
  .btn.btn-large {
    padding-bottom: 12px;
    padding-top: 13px; 
	
	}
  .btn.btn-primary {
    background-color: #1abc9c; 
	}
    .btn.btn-primary:hover, .btn.btn-primary:focus {
      background-color: #2fe2bf; 
	  }
    .btn.btn-primary:active, .btn.btn-primary.active {
      background-color: #16a085; 
	  }
	  
  .btn.btn-info {
    background-color: #3498db; 
	}
    .btn.btn-info:hover, .btn.btn-info:focus {
      background-color: #5dade2; 
	  }
    .btn.btn-info:active, .btn.btn-info.active {
      background-color: #2383c4; 
	  }
	  
  .btn.btn-danger {
    background-color: #e74c3c; 
	}
    .btn.btn-danger:hover, .btn.btn-danger:focus {
      background-color: #ec7063; 
	  }
    .btn.btn-danger:active, .btn.btn-danger.active {
      background-color: #dc2d1b; 
	  }
	  
  .btn.btn-success {
    background-color: #2ecc71; 
	}
    .btn.btn-success:hover, .btn.btn-success:focus {
      background-color: #55d98d; 
	  }
    .btn.btn-success:active, .btn.btn-success.active {
      background-color: #27ad60; 
	  }
	  
  .btn.btn-warning {
    background-color: #f1c40f; 
	}
    .btn.btn-warning:hover, .btn.btn-warning:focus {
      background-color: #f4d03f; 
	  }
    .btn.btn-warning:active, .btn.btn-warning.active {
      background-color: #cea70c; 
	  }
	  
/**************
<!--link href="http://sitediscount.ru/flatscrollerbs3/assets/css/pricing.css" rel="stylesheet"-->

<!--link href="http://sitediscount.ru/flatscrollerbs3/assets/css/style.css" rel="stylesheet"-->
**********************************************/





























/* global styles
===========================*/
      body {
        padding-top: 60px;
        padding-bottom: 0px;
		background:#F7F7F7;
		font-size:16px;
      }
	  
	  header{
		padding-top:50px;
	  }
	  section {
		position:relative;
		padding-top:70px;
		padding-bottom:80px;
		width:100%;
		min-width:100%;
		margin-top:-5px;
	  }
	  
	  .page-header{
		padding-top:20px;
	  }
	  
	  
	  	.justify{
		text-align:justify;
	}
	

	/* HEADER
	============================*/
	   
	  #head-top {
	  position:relative;
		background:#292C37;
		padding-top:0px;
		padding-bottom:0px;
		margin-top:-60px;
		display:inline-block;
		width:100%;
		height:100%;
		overflow:hidden;
		min-height:630px;
	  }
	  
	  #head-top .jumbotron{
		background:none;
		min-height:300px;
		color:#ffffff;
		-webkit-border-radius:0px;
		-moz-border-radius:0px;
		border-radius:0px;
		padding-top:160px;
	}
	#head-top .jumbotron h1{
	text-shadow: 2px 2px 0px rgba(150, 150, 150, 0.65);
	
	}
	
	.gobtnwrapper{
		position:absolute;
		bottom:0px;
		right:0px;
		left:0px;
		display:block;
		width:100%;
		height:40px;
		text-align:center;
	}
	.gobtn{
		display:inline-block;
		width:70px;
		height:40px;
		background:#fc5242;
		-webkit-box-sizing:border-box;
		-moz-box-sizing:border-box;
		box-sizing:border-box;
		-webkit-box-shadow: 3px -3px 0px rgba(50, 50, 50, 0.25);
		-moz-box-shadow:    3px -3px 0px rgba(50, 50, 50, 0.25);
		box-shadow:         3px -3px 0px rgba(50, 50, 50, 0.25);
		-moz-border-radius-topleft: 3px;
		-webkit-border-top-left-radius: 3px;
		 border-top-left-radius: 3px;
		-moz-border-radius-topright: 5px;
		-webkit-border-top-right-radius: 5px;
		border-top-right-radius: 5px;
		padding-top:15px;
		
	}
	.gobtn i{
		color:#292C37;
	}
	.gobtn:hover{
		opacity:0.9;
		text-decoration:none;
	}
	
	
	  /* SECTIONS
	  ===========================*/
	  
	#Section-1{
	background:#fc5242;
	color:#fff;
	}
	  
	  #Section-2{
		background:#1dbb90;
		color:#fff;
	  }
	  
	  .well{
		border:none;
		-webkit-border-radius: 0px;
		-moz-border-radius: 0px;
		border-radius: 0px;
	  }
	  #Section-1 .well{
		/*background-color:#34495e;*/
      
		background:url(http://sitediscount.ru/flatscrollerbs3/images/bgredtwo.png) 0% 0% fixed repeat;
		color:#fff;
		margin-bottom:-100px;
		margin-top:60px;
		padding-top:60px;
		padding-bottom:60px;

	  }
	  .well .lead{
		font-size:220%;
	  }
	  #Section-2 .well{
		background:url(http://sitediscount.ru/flatscrollerbs3/images/bgredtwo.png) 0% 0% fixed repeat;
		margin-bottom:-100px;
		margin-top:60px;
		padding-top:60px;
		padding-bottom:60px;
	  }
	  #Section-3{
		background:#4F92BF;
	  } 
	  #Section-3 h2,
	  #Section-3 h3{
		color:#fff;
		
	  }  
	  
	  #Section-4{
		background:#5dade2;
	  } 
	  #Section-4 h2,
	  #Section-4 h3{
		color:#fff;
		
	  }
	  
	hr{
		margin:40px 0px;
	}
	hr, 
	.page-header {
		border-color:rgba(250,250,250, 0.1)
	  }
	   
	  #Section-2 p{
		color:rgba(250,250,250, 0.9);
	  }
	  #Section-2 h3 {
		
	  }

	  .page-header h2,
	  .page-header h3{
		font-weight:100;
		font-size:46px;
		line-height:46px;
	  }
	  
	  .box{
		margin-bottom:30px;
	  }
	  .about-box {
		margin-bottom:20px;
		margin-top:20px;
		color:#fff;
	  }
	  
	  .about-box h3,
	  .about-box h4{
		border-bottom:1px solid #fff;
	  }
	  .about-box h3 span,
	  .about-box h4 span{
		border-bottom:2px solid #fff;
		display:inline-block;
	  }
	  
	  /* FOOTER
	  ================================*/
	    footer{
		display:inline-block;
		width:100%;
		min-width:100%;
		padding-top:50px;
		padding-bottom:50px;
		min-height:200px;
		background:#292C37;
		color:#fff;
	  }
	  
	  footer .circ-wrap{
		float:left;
		margin:10px;

		
	  }
	   footer .circ-wrap a{
			color:#fff;
	   }
	   
	   footer .circ-wrap a:hover{
			text-decoration:none;
	   }
	   
	  /* NAVIGATION 
	  =============================== */
	.navbar .nav > li > a {
		float: none;
		padding: 30px 20px 30px;
		color: #000;
		text-decoration: none;
		text-shadow: none;
		font-size:14px;
		font-wight:bold;
		text-transform:uppercase;
		border-top: 10px solid transparent;
	}
	.navbar .nav > .active > a, 
	.navbar .nav > .active > a:hover, 
	.navbar .nav > .active > a:focus {
		color: #FF0A0A;
		text-decoration: none;
		background: none;
		border-top: 10px solid #FA0013;
		-webkit-box-shadow:  none;
			-moz-box-shadow:   none;
				box-shadow:  none;
	}
	.navbar .navbar-brand {
		padding: 30px 15px 30px 15px;
		color: #FA0013;
		text-shadow:none;
		font-size:26px;
		font-weight:100;
		margin-right:30px;
		max-width:300px;
	}

	.navbar {
		-webkit-box-shadow: 0 3px 0px rgba(0, 0, 0, 0.1);
			-moz-box-shadow: 0 3px 0px rgba(0, 0, 0, 0.1);
					box-shadow:0 3px 0px rgba(0, 0, 0, 0.1);
	}

	.navbar {
		min-height: 60px;
		padding-right: 20px;
		padding-left: 20px;
		background: #2b2b2b;
		background-image: none;
		background-repeat: repeat-x;
		border: none;
		-webkit-border-radius: 0px;
		-moz-border-radius: 0px;
		border-radius: 0px;
		filter: none;
		-webkit-box-shadow: none;
			-moz-box-shadow: none;
				box-shadow: none;
	}
	
	/* ICONS WRAPERS
	===========================*/
	.circ-wrap{
		width: 98px;
		height: 98px;
		margin: 0 auto 10px;
		line-height: 95px;
		text-align: center;
		border: 1px solid rgba(250,250,250,.9);
		border-radius: 50px;
		padding-top:15px;
		-webkit-box-sizing:border-box;
		-moz-box-sizing:border-box;
		box-sizing:border-box;
	}
	

	/* Carousel
	==============================*/
	
	.carousel-indicators{
		top:0px;
		left:95%;;
	}
	.carousel-control {
		position: absolute;
		top: 0%;
		width: 40px;
		height: 100%;
		font-size: 30px;
		padding-top:10px;
		font-weight: 100;
		line-height: 30px;
		color: #ffffff;
		text-align: center;
		background: none;
		border: none;
		-webkit-border-radius: 0px;
		-moz-border-radius: 0px;
		border-radius: 0px;

	}
	.carousel-control i{
		position: absolute;
		top: 40%;
		z-index: 5;
		display: inline-block;
	}
	.carousel-control.right {
		right: -50px;
		left: auto;
		-moz-border-radius-topleft: 5px;
		-webkit-border-top-left-radius: 5px;
		 border-top-left-radius: 5px;
		-moz-border-radius-bottomleft: 5px;
		-webkit-border-bottom-left-radius: 5px;
		border-bottom-left-radius: 5px;
		background:none;
	}

	.carousel-control.left {
		left: -70px;
		right: auto;
		-moz-border-radius-topright: 5px;
		-webkit-border-top-right-radius: 5px;
		border-top-right-radius: 5px;
		-moz-border-radius-bottomright: 5px;
		-webkit-border-bottom-right-radius: 5px;
		border-bottom-right-radius: 5px;
		background:none;
	}
	
	/* TEAM
	==============================*/
	.social-contacts a i{
		text-decoration:none;
		color:#3F7497;
	}
	.social-contacts a i:hover{

		color:#335E7C;
		text-decoration:none;
		transition: all ease-in-out 0.3s;
		-webkit-transition: all ease-in-out 0.3s;
		-moz-transition: all ease-in-out 0.3s;
	}
	.social-contacts a:hover{
		text-decoration:none;
	}
	
	/* PRODUCTS
	==============================*/
	.thumbnail.product-item{
		border-top:0px;
		border-left:0px;
		border-right:0px;
		overflow:hidden;
		max-height:300px;
		padding-top:20px;
		background:none;
		border-bottom:4px solid rgba(0,0,0, 0.1);
		-moz-box-shadow:none;
		box-shadow:none;
		-webkit-box-sizing:border-box;
			-moz-box-sizing:border-box;
				box-sizing:border-box;
		-webkit-border-radius:0px;
			-moz-border-radius:0px;
				border-radius:0px;
	}
	
	
	/* BUTTONS 
	=============================*/
	.btn {
	  border: none;
	  background: #34495e;
	  color: white;
	  font-size: 16.5px;
	  text-decoration: none;
	  text-shadow: none;
	  -webkit-box-shadow: none;
	  -moz-box-shadow: none;
	  box-shadow: none;
	  -webkit-transition: 0.25s;
	  -moz-transition: 0.25s;
	  -o-transition: 0.25s;
	  transition: 0.25s;
	  -webkit-backface-visibility: hidden; 
	}
	
  .btn:hover, 
  .btn:focus {
    background-color: #4e6d8d;
    color: white;
    -webkit-transition: 0.25s;
    -moz-transition: 0.25s;
    -o-transition: 0.25s;
    transition: 0.25s;
    -webkit-backface-visibility: hidden; 
	}
  .btn:active, .btn.active {
		background-color: #2c3e50;
		color: rgba(255, 255, 255, 0.75);
		-webkit-box-shadow: none;
		-moz-box-shadow: none;
		box-shadow: none; 
	}
  .btn.disabled, 
  .btn[disabled] {
		background-color: #95a5a6;
		color: white; 
	}
	
  .btn.btn-large {
		padding-bottom: 12px;
		padding-top: 13px; 
	}
  .btn.btn-primary {
		background-color: #1abc9c; 
	}
    .btn.btn-primary:hover, 
	.btn.btn-primary:focus {
      background-color: #2fe2bf; 
	}
    .btn.btn-primary:active, 
	.btn.btn-primary.active {
      background-color: #16a085;
	 }
	.btn.btn-info {
		background-color: #3498db; 
	}
    .btn.btn-info:hover, 
	.btn.btn-info:focus {
      background-color: #5dade2; 
	 }
    .btn.btn-info:active, 
	.btn.btn-info.active {
      background-color: #2383c4; 
	}
  .btn.btn-danger {
		background-color: #e74c3c; 
	}
    .btn.btn-danger:hover, 
	.btn.btn-danger:focus {
      background-color: #ec7063; 
	}
    .btn.btn-danger:active, 
	.btn.btn-danger.active {
      background-color: #dc2d1b; 
	}
  .btn.btn-success {
    background-color: #2ecc71; 
	}
    .btn.btn-success:hover, 
	.btn.btn-success:focus {
      background-color: #55d98d; 
	 }
    .btn.btn-success:active, 
	.btn.btn-success.active {
      background-color: #27ad60; 
	}
  .btn.btn-warning {
		background-color: #FFAA49; 
	}
    .btn.btn-warning:hover, 
	.btn.btn-warning:focus {
      background-color: #f4d03f; 
	}
    .btn.btn-warning:active, 
	.btn.btn-warning.active {
      background-color: #cea70c; 
	 }
	 
	 /* Progress bars
	 ================================*/
	 .progress, 
	 .ui-slider {
		  background: #e8edf2;
		  border-radius: 32px;
		  height: 20px;
		  -webkit-box-shadow: none;
		  -moz-box-shadow: none;
		  box-shadow: none;
		  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false); 
  }
  .progress .bar{
	height:20px;
  }
  .progress .bar, 
  .ui-slider .bar {
		background: #1abc9c;
		-webkit-box-shadow: none !important;
		-moz-box-shadow: none !important;
		box-shadow: none !important;
		filter: progid:DXImageTransform.Microsoft.gradient(enabled = false); 
	}
  .progress .bar-success, 
  .ui-slider .bar-success {
		background-color: #2ecc71;
		filter: progid:DXImageTransform.Microsoft.gradient(enabled = false); 
	}
  .progress .bar-warning, 
  .ui-slider .bar-warning {
		background-color: #FFAA49;
		filter: progid:DXImageTransform.Microsoft.gradient(enabled = false); 
	}
  .progress .bar-danger, .ui-slider .bar-danger {
		background-color: #e74c3c;
		filter: progid:DXImageTransform.Microsoft.gradient(enabled = false); 
	}
  .progress .bar-info, .ui-slider .bar-info {
		background-color: #3498db;
		filter: progid:DXImageTransform.Microsoft.gradient(enabled = false); 
	}
	
	.navbar .btn-navbar {
		float: right;
		padding: 20px 20px;
		margin:0px;
		color: #ffffff;
		text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
		background-color: #292425;
		background-image: none;
		border-color: none;
		filter: none;
		-webkit-box-shadow: none;
			-moz-box-shadow: none;
				box-shadow: none;
		-webkit-border-radius:0px;
			-moz-border-radius:0px;
				border-radius:0px;
	}
	
	/* @media width
	====================================*/
	@media (max-width: 979px){
			.navbar-fixed-top .navbar-inner, .navbar-fixed-bottom .navbar-inner {
			padding-bottom: 0px;
			padding-top: 0px;
		}
		.navbar-fixed-top, .navbar-fixed-bottom {
			position: fixed !important;
		}
	
.navbar .nav > li > a  {
 padding:30px 10px;
}
.jumbotron h1 {
font-size: 40px;
}
.carousel-control{
	top:0%;
}
.carousel-control.left {
	left: -10px;
	z-index:1020;
}

.carousel-control.right {
	right: 5px;
	z-index:1020;
}

	#head-top {
		min-height: auto;
	}

}

	@media (max-width: 767px){
		body {
			padding-right: 0px;
			padding-left: 0px;
		}
		.container{
			padding-right: 20px;
			padding-left: 20px;
		}
		
		.navbar-inverse .navbar-inner {
			min-height: 30px;
		}
		
		.navbar .navbar-brand {
			padding: 15px 0px 10px;
		}
		.navbar .navbar-brand{
			margin-left:20px;
			font-size:20px;
			text-align:left;
			margin-left:-20px;
		}
		.navbar .nav > li > a {
			float: none;
			padding: 15px 20px 15px;
			-webkit-border-radius:0px;
				-moz-border-radius:0px;
					border-radius:0px;
		}
		
		/* FIX FONT SIZE AND jumbotron padding in HEADER FOR MOBILE DEVICES 07/16/2013 */
		#head-top .jumbotron {
			padding-right:0px;
			padding-left:0px;
			padding-top:100px;
			padding-bottom:15px;
		}
		
		#head-top .jumbotron h1{
			font-size:24px;
			text-align:center;
		}
		#head-top .jumbotron .lead{
			font-size:16px;
			text-align:center;
		}
		

		/* END: FIX HEADER FOR MOBILE DEVICES 07/16/2013 */
		
		.page-header h3 {
			font-weight: 100;
			font-size: 32px;
			line-height: 34px;
		}

	}








.navbar .navbar-brand{
padding:8px;
}

section {
padding-bottom: 0px;
}

#Section-2, #Section-3 {
background: #4F92BF; background: #292C37;

}

#Section-3 {background: #4F92BF;
	background-image: url('../images/backgrounds/audio.png'); background-size: cover;
	background-attachment: fixed


}


#Section-1 {
background: #292C37;

background-image: url('../images/backgrounds/sib2.png'); background-size: cover;
	background-attachment: fixed

}
.social-contacts a i {
text-decoration: none;
color: #DDD;
}

html,span{overflow:hidden;}

#head-top .jumbotron {
background-color:#292C37; background-size: cover;
padding-top: 100px;
padding-bottom: 0px;
		background-image: url('../images/backgrounds/back.png'); background-size: cover;
	background-attachment: fixed
}

#head-top {

		background-image: url('../images/backgrounds/back.png'); background-size: cover;
	background-attachment: fixed
}

.carousel-inner{

	/*background-image: url('http://wallpaper4me.com/images/wallpapers/jamaica-139647.jpeg'); background-size: cover;
*/
background-color:none;
}

a2,a3,a4 {
  width: 74px;
  height: 74px;
  line-height: 5px;
  text-decoration: none;
  font-family: "zocial", sans-serif;
  color:#A0A0A0;
  font-size: 24px;
  -moz-transition: background-color 0.15s ease-in-out;
  -o-transition: background-color 0.15s ease-in-out;
  -webkit-transition: background-color 0.15s ease-in-out;
  transition: background-color 0.15s ease-in-out;

}
a2 {  font-size: 20px;  background-color: #FFF;
  margin-left: 5px;  color: #787878;

}
a3{font-size: 42px; color:#FFF;}

.carousel-inner{width:100%;height:100%; overflow:scroll;}

.z1{background-image: url('assets/images/slider/2.png'); background-size: cover; }



.container {
max-width: 1200px;
}

.navbar{
background-color: #FFF; opacity:.85;

}

h3{
	color:#FFF;
}

z4{  width: 30%;
  height: 30%;
  line-height: 5px;
  text-decoration: none;
  font-family: "zocial", sans-serif;
  color:#A0A0A0;
  font-size: 24px;
  -moz-transition: background-color 0.15s ease-in-out;
  -o-transition: background-color 0.15s ease-in-out;
  -webkit-transition: background-color 0.15s ease-in-out;
  transition: background-color 0.15s ease-in-out;
  }

a:link {color:#FFF;}      



.ImageBorder
{

}


.new345{

width:99%;
height:45px;
overflow: hidden

}